*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f172a;
    padding: 20px;
}

.dashboard-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,
     minmax(220px, 1fr));
    gap: 20px;
}

.card{
    background: #111827;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    color: #ccc;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 20px 30px rgba(0,0,0,0.6);

}
.card .icon{
    font-size: 18px;
    margin-bottom: 20px;
}

.card h3{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.card p{
    font-size: 14px;
    color: #9ca3af;
}

.user{
    border-left: 4px solid #3b82f6;
    border-right: 4px solid #3b82f6;
}

.revenue{
    border-left: 4px solid #22c55e;
    border-right: 4px solid #22c55e;
}

.orders{
    border-left: 4px solid #f59e0b;
    border-right: 4px solid #f59e0b;
}

.growth{
    border-left: 4px solid #ec4899;
    border-right: 4px solid #ec4899;
}

.fa-user{
    color: #3b82f6;
}

.fa-chart-area{
    color: #22c55e;
}

.fa-cart-shopping{
    color: #f59e0b;
}

.fa-arrow-up-right-dots{
    color: #ec4899;
}